openapi: 3.2.0
info:
  title: Impulse Dynamics WordPress REST Root API
  version: wp/v2
  summary: The live WordPress REST API served by the Impulse Dynamics corporate website.
  description: Derived verbatim from the route-discovery document the Impulse Dynamics web server publishes at https://impulse-dynamics.com/wp-json/ (fetched 2026-08-23, HTTP 200).
  x-derived-from: https://impulse-dynamics.com/wp-json/
  x-derived-on: '2026-08-23'
  x-apievangelist-method: derived
servers:
- url: https://impulse-dynamics.com
  description: Production
tags:
- name: Root
  description: REST API index / namespace discovery.
paths:
  /wp-json/:
    get:
      operationId: getRoot
      summary: GET /
      description: WordPress REST API route `/` in namespace `root`, as advertised by the live route-discovery document at https://impulse-dynamics.com/wp-json/ (fetched 2026-08-23, HTTP 200).
      tags:
      - Root
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        schema:
          default: view
  /wp-json/batch/v1:
    post:
      operationId: postBatchV1
      summary: POST /batch/v1
      description: WordPress REST API route `/batch/v1` in namespace `root`, as advertised by the live route-discovery document at https://impulse-dynamics.com/wp-json/ (fetched 2026-08-23, HTTP 200).
      tags:
      - Root
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation:
                  type: string
                  default: normal
                  enum:
                  - require-all-validate
                  - normal
                requests:
                  type: array
                  items:
                    type: object
              required:
              - requests
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed verbatim on live 401 responses from this host. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - mcp_unauthorized
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
          - MCP authentication required.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
  securitySchemes:
    wpApplicationPassword:
      type: http
      scheme: basic
      description: 'WordPress Application Passwords. The live discovery document advertises this as the site''s only machine authentication method: authentication.application-passwords.endpoints.authorization = https://impulse-dynamics.com/wp-admin/authorize-application.php (fetched 2026-08-23).'
    wpNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie-authentication nonce, used by same-origin browser clients.
    mcpAuth:
      type: http
      scheme: bearer
      description: Bearer authentication guarding the `mcp` namespace. Anonymous POST of a JSON-RPC tools/list to https://impulse-dynamics.com/wp-json/mcp/mcp-oauth-server returned HTTP 401 `mcp_unauthorized` and to https://impulse-dynamics.com/wp-json/mcp/mcp-adapter-default-server returned HTTP 401 `rest_forbidden` on 2026-08-23. This host publishes NO RFC 8414 authorization-server metadata and NO RFC 9728 protected-resource metadata (/.well-known/oauth-authorization-server and /.well-known/oauth-protected-resource both 404 on 2026-08-23), so the token issuer and scopes are undiscoverable anonymously.
